.contenedor{
    padding: 0px 30px 30px 30px;

}

body{
    background-color: #212121;
}

.cardsContenedor{
    text-align: center;

}

.cardscontenido{
    padding: 20px 0px 20px 20px;
    background-color: #606CF4;
}

.ant-statistic-title{
    color: black;
}



@media(max-width: 992px){
    .cardscontenedor{
        padding-bottom: 15px;
    }
    .pieChart{
        padding-bottom: 15px;
    }
} 
